.container {
  font-size: 1.2rem;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.1em;
  line-height: 1.5em;
}
