.table, .header, .row, .index-cell, .cell {
  border: 1px solid #1a1d22;
}

.table {
  width: 100%;
  background-color: var(--table-bg);
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  padding: 0.65rem;
}

.header-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.row {
  min-height: 40px;
}

.index-cell {
  padding-inline: 5px;
  width: 30px;
  text-align: center;
  font-size: 14px;
}

.cell {
  position: relative;
  padding-inline: 0.65rem;
  background-color: var(--table-cell-bg);
  overflow: hidden;
  white-space: nowrap;
}

.cell:hover {
  background-color: var(--table-cell-hover);
}
